.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: orange;
    font-size:12px;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltiptext:hoover {
    visibility: visible;
}
body { 
  font-family: "Lato", sans-serif;
}
p { 
  font-size: 12px;
  margin-bottom: 1px;
  margin: 3px;
}

#wrapper {
  width: auto;
//  margin: 15px auto;
  text-align:left;
}


#Title {
    display: block;
}

#divLogin {
  border: 3px solid #777777;
  text-align:left;
}

#hideme {
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.sidenav {
  height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 12px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
}

.divButton {
    display: inline;
    padding: 5px;

}
#divLabrats {
    display: inline;
    float:left;
    width:70%;
    height: 15%;
}
#divRetCode {
    display: inline;
    float:left;
    width:30%;
    height: 15%;
    font-size: 20px;    
}
#divChild {
    display: inline;
    float:left;
    width:100%;
    height: 85%;
}

.divNotesName {
    font-size: 24px;
    padding: 5px;
}
.divNotesMeta {
    font-size: 20px;
    padding: 5px;
}
.divNotesNote {
    font-size: 12px;
    padding: 5px;
}



.imgTable {
    width: 75px;
    height: 50px;
}

* {
    box-sizing: border-box;
}

textarea {
    overflow-y: scroll;
    height: 10px;
    width: 800px;
    
    resize: none; /* Remove this if you want the user to resize the textarea */
}
input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #556b2f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}
input[type=cancel] {
    background-color: #556b2f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}





input[type=submit]:hover {
    background-color: #45a049;
}


.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.col-25-1 {
    padding-left:4px;    
    display: inline;    
    float: left;
    width: 30%;
}
.col-25-2 {
    padding-left:4px;    
    display: inline;    
    float: left;
    width: 30%;
    background-color: black;
    color: white;
}
.divSectionHead {
    display: inline;    
    width: 100%;
}
.col-100-1 {
    padding-left:4px;    
    display: inline;    
    float: left;
    width: 100%;
}
.col-25-25 {
    display: inline-block;
    padding-left:4px;    
    float: left;
    width: 35%;
    font-weight: bold;

}

.col2-75 {
    display: inline-block;
    float: left;
    width: 65%;
}
.col2-25 {
    display: inline-block;    
    float: left;
    width: 35%;
}
.col2-25-bold {
    padding-left:4px;
    display: inline-block;    
    float: left;
    width: 35%;
    font-weight: bold;    
}

.col-75 {
    display: inline;    
    float: left;
    width: 70%;
    padding-left: 3px;
}
.col-25-0 {
    float: left;
    width: 35%;
    margin-top: 6px;
}
.col-75-0 {
    float: left;
    width: 65%;
    margin-top: 6px;
}
.divRow-0
 {
       display:table-row;
 }



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.divTable
{
    float : left;
        display:  inline;
	border: 2px solid black;
       /* border-collapse:separate;*/
    }

.divTable2
{
    float : left;
        display:  inline;
/*	border: 2px solid black; */
       /* border-collapse:separate;*/
    }

  .divDetails
  {
      margin-left: 6px;
      display:inline;
      float: left;
    }

.divHeadRow
    {
	display:table-row;
	color: white;
	background-color:black;
    }

 .divRow
    {
	display:block;
	width: 100%;
    }
 .divRow2
    {
	display:block;
    }
 .divRow3
    {
	display:table-row;
    }
 .divSelectedRow
    {
       display:table-row;
       width:auto;
       background-color:red;
    }


  .divHeaderCell
    {
        display:table-cell;
	font-weight: bold;
	border: 1px solid black;
    }

  .divCell
   {
        display:table-cell;
	border: 1px solid black;
	padding: 2px;
    }



  .divLeft
    {
        background-color:#ccc;
	float: left;
        width:auto;
        border:1px solid  #666666;

    }
  .divRight
    {
        background-color:white;
	float: left;
        width:auto;
        border:1px solid  #666666;


    }

  .divLeftCell
    {
	padding: 3px 10px;
	margin: 0px;
	font: bold 14px verdana, sans-serif;
	height: 40px;
	display: block;
        width:auto;
	border: 1px solid;
    }
  .divRightCell
    {
	padding: 3px 10px;
	margin: 0px;
	font: 14px verdana, sans-serif;
	height: 40px;
	display: block;
        width:auto;
	border: 1px solid;
    }


  .inputText
    {
	padding 3px 3px;
	font-size:15px;
//        float:left;/*fix for  buggy browsers*/
//        width:140px;
    }

  .divResult
    {
        display:inline;
	float: left;
        width:50%;
    }

  .divOK
    {
        width:50%;
	font-size: 20px;
    }

  .divError
    {
	display: block;
	font-size: 20px;
	color: red
    }


  form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


.divCell:hover .tooltiptext {
    visibility: visible;
}
